.tag {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 5px;
    border-radius: 20px;
    padding: 5px 10px;
    line-height: 12px;
    cursor: pointer;
}

.small {
    font-size: 12px;
}

.middle {
    font-size: 14px;
}

.ghost {
    border: 1px solid var(--gray-light);
}

.gray {
    color: var(--white);
    background-color: #c2c2c2;
    font-weight: bold;
}

.red {
    color: var(--white);
    background-color: red;
    font-weight: bold;
}

.green {
    color: var(--green);
    background-color: var(--green-light);
    font-weight: bold;
}

.primary {
    color: var(--primary);
    border: 1px solid var(--primary);
    font-weight: bold;
}
