.review {
    margin-top: 40px;
}
.review:first-child {
    margin-top: 0px;
}

.reviewTop {
    display: grid;
    grid-template-columns: 30px 1fr auto auto;
    margin-bottom: 20px;
}

.name {
    padding: 10px;
    align-self: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.title {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.date,
.rating {
    padding: 10px;
    align-self: center;
}

.formInner {
    display: grid;
    grid-template-columns: 218px 218px auto;
}
